shared/__pycache__/__init__.cpython-313.pyc
shared/geological/__pycache__/formations.cpython-313.pyc
shared/geological/__pycache__/nurbs.cpython-313.pyc
shared/drawing/__pycache__/draw_interface.cpython-313.pyc
shared/geological/__pycache__/__init__.cpython-313.pyc
